<section> 
    <div class="image-container">
        <div class="image">
            <img src="assets/contactus.JPG" alt="" width="100%" height="450px">
        </div>
        <div class="text-overlay">
            <h1>contact us</h1>
        </div>
        <div class="row spacer-row"></div>
    </div>
</section>
<section>   
    <div class="row">
        <div class="row"> 
            <div class="col-md-3"></div>
            <h1 class="text-center-description">We Are Available On The Platforms Below</h1>
            <div class="col-md-3"></div>
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fas fa-solid fa-envelope icon-card"></i>
                      </div> 
                    <div class="card-body card-text">
                        <h5>Email Us: </h5>
                        <h5><a href="mailto:lireshkaulasar1866@gmail.com">lireshkaulasar1866&#64;gmail.com</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fa-brands fa-whatsapp icon-card"></i>
                      </div> 
                    <div class="card-body card-text">
                        <h5>Message Us: </h5>
                        <h5><a href="tel:0827520662">0827520662</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fa-brands fa-linkedin icon-card"></i>
                        
                      </div> 
                    <div class="card-body card-text">
                        <h5>Careers: </h5>
                        <h5><a href="www.linkedin.com/in/liresh-kaulasar-835b91181">www.linkedin.com/in/liresh-kaulasar-835b91181</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>
 

