<section> 
    <div class="image-container">
        <div class="image">
            <img src="assets/aboutus.JPG" alt="" width="100%" height="450px">
        </div>
        <div class="text-overlay">
            <h1>about us</h1>
        </div>
        <div class="row spacer-row"></div>
    </div>
</section>
<section>   
    <div class="row">
        <div class="row"> 
            <div class="col-md-3"></div>
            <h1 class="text-center-description">Collect Smarter, Not Harder</h1>
            <div class="col-md-3"></div>
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body card-text">
                        <h5>Our solutions enable clients to maintain strong relationships with their customers during the debt recovery process, ultimately improving customer loyalty and retention</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body card-text">
                        <h5>Our mission is to empower businesses with efficient and effective debt collection tools, enabling them to recover debts swiftly while maintaining a positive relationship with their customers.</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body card-text">
                        <h5>Our platform leverages advanced analytics to predict debtor behavior, allowing clients to tailor their collection strategies effectively and reduce default rates.</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>
 