<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="table-color"><h5>Transactions</h5></th>
                <th scope="col" class="table-color"></th>
                <th scope="col" class="table-color"></th>
                <th scope="col" class="table-color"></th>
                <th scope="col" class="table-color"> <a href="#" class="btn btn-outline-light table-button">Add New</a> </th>
            </tr>
            <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Capture Date</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col"><!--No heading for action column--></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactionList">
                <td>{{transaction.transaction_date}}</td>
                <td>{{transaction.capture_date}}</td>
                <td>{{transaction.description}}</td>
                <td>R {{transaction.amount.toFixed(2)}}</td>
                <td><a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

