<section>
  <nav class="navbar navbar-light navbar-background">
    <a class="navbar-brand" routerLink="home-page">
      <img src="assets/companyLogo.JPG" width="200" height="50" class="d-inline-block align-top" alt="">
    </a>
    <span flex></span>  
      <button routerLink="home-page" class="btn navbar-button">
        <i class="fas fa-home navbar-button-icon"></i>
          HOME
      </button>
      <button routerLink="login-page" class="btn navbar-button">
        <i class="fas fa-user navbar-button-icon"></i>
        LOG IN
      </button>
      <button routerLink="about-us" class="btn navbar-button">
        <i class="fas fa-solid fa-info navbar-button-icon"></i>
        ABOUT US
      </button> 
      <button routerLink="contact-us" class="btn navbar-button">
        <i class="fas fa-solid fa-phone navbar-button-icon"></i>
        CONTACT US
      </button> 
    <span flex></span>
  </nav>
</section>
<router-outlet></router-outlet>