<div class="container">
    <div *ngIf="this.showAlertWithErrorMessage.visible == true" class="alert alert-danger" role="alert">
        {{this.showAlertWithErrorMessage.message}}
    </div>

    <div class="row">
        <form #accountForm="ngForm">
            <div class="card" style="width: 18rem;">    
                <div class="row">
                        <i class="fas fa-solid fa-rectangle-list user-icon"></i>
                </div>
                <div class="card-body card-text">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Transaction Date</span>
                            <input type="datetime-local" class="form-control" name="transaction_date" [(ngModel)]="this.transaction.transaction_date" (ngModelChange)="transaction.transaction_date=$event"required>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" name="outstanding_balance"  aria-describedby="inputGroup-sizing-default" [ngModel]="'R '+ this.transaction.amount" disabled>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <button (click)="cancel()" class="btn btn-outline-secondary card-button">Cancel</button>
                    </div>
                    <div class="col">
                        <button (click)="updateTransactionDetails(transaction)" class="btn btn-outline-primary card-button" [disabled]="accountForm.invalid">Submit</button>
                    </div>
                </div>
                </div>
            </div> 
        </form>
    </div>
</div>