<section> 
    <div class="image-container">
        <div class="image">
            <img src="assets/wallpaper.JPG" alt="" width="100%" height="450px">
        </div>
        <div class="text-overlay">
            <h1>welcome to lk software solutions!</h1>
            <p>We specialize in providing innovative debt collection solutions.</p>
            <p>Our software is designed to streamline processes and maximize recovery rates.</p>
            <p>Our systems follow a simple user friendly design that maximizes efficiency.</p>
        </div>
        <div class="row spacer-row"></div>
    </div>
</section>
<section>   
    <div class="row">
        <div class="row"> 
            <div class="col-md-3"></div>
            <h1 class="text-center-description">Why bother using our software?</h1>
            <div class="col-md-3"></div>
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fas fa-solid fa-coins icon-card"></i>
                      </div> 
                    <div class="card-body card-text">
                        <h5>Operational Efficiency and Cost Reduction</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fas fa-solid fa-chart-line icon-card"></i>
                      </div> 
                    <div class="card-body card-text">
                        <h5>We Maximize Recovery Rates with Advanced Analytics</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <i class="fas fa-solid fa-users icon-card"></i>
                      </div> 
                    <div class="card-body card-text">
                        <h5>We Enhance Customer Experience Through Innovation</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>
 

